* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243,249,249);
    background-color: white;

}
.header{
    text-align: center;
    min-height:  100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    overflow: hidden;
    background-color: rgb(196, 200, 191);
    display: flex;
    padding-left: 0;
    padding-right: 3%;
    justify-content: space-between;
    align-items: center;

}
nav img {
    width: 250px;  
}

.nav-links
{
    text-align: right;
}
.nav-links ul li {
    display: inline-block;
    padding: 8px 12px ;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 26px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    font-size: 27px;
    color: rgb(68, 41, 41);
 }
